PG_HOST=localhost
PG_PORT=5434
PG_DATABASE=sales_dw
PG_USER=etl_user
PG_PASSWORD=change_me


S3_ENABLED=false
S3_BUCKET=your-bucket-name
S3_PREFIX=sales-etl
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

LOG_LEVEL=INFO
